body {
  padding-top: 90px;
}

.starter-template {
  text-align:justify;
  margin-left : 10%;
  margin-right : 10%;
  padding-bottom: 70px;
}

.id-pic {
  border-radius: 10px;	
  margin: 55px 0px 5px 20px;
  float:right;
}

@media screen and (max-width:659px) { 
  .id-pic{
    float: none;
  }
 .media-body{
    overflow: visible;
 }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
}

.body-text {
  font-size: 18px;
  font-weight: lighter;
  font-family: Helvetica;
}

.fam-pic {
  width: 100%;
}

.pub-header {
  font-weight: lighter;
  font-family: Helvetica
}
 .citation {
  font-family: Helvetica;
  font-size: 16px;
  font-weight: lighter;
 }


